@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: LobsterRegular;
  src: url(../fonts/Lobster-Regular.ttf);
}

body {
  text-align: center;
  font-family: SourceSansPro;
  font-size: 14px;
}

h1 {
  font-size: 14px;
}

h1 .logo {
  font-size: 18px;
  font-family: LobsterRegular;
}
