@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: LobsterRegular;
  src: url(../fonts/Lobster-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
}

#header {
  z-index: 333333;
  background: #FFF;
  border-bottom: 1px solid #CCC;
  color: #626262;
  height: 25px;
  left: 0;
  margin: 0;
  padding: 5px 10px;
  position: fixed;
  width: 100%;
  font-family: SourceSansPro;
}

#header .logo {
  font-family: LobsterRegular;
  font-size: 20px;
}

.view-switch-vert .icon {
  float: right;
  cursor: pointer;
  background: transparent url('../img/split-vert.png') no-repeat 8px 8px;
  background-size: 20px 20px;
  height: 31px;
  width: 32px;
  margin: -5px -10px;
  padding: 2px;
}

.view-vert .view-switch-vert .icon {
  background: #EAEAEA url('../img/split-vert.png') no-repeat 8px 8px;
  background-size: 20px 20px;
}

.view-switch-vert .icon:hover {
  background: #F7F7F7 url('../img/split-vert.png') no-repeat 8px 8px;
  background-size: 20px 20px;
}

.view-vert .view-switch-vert .icon:hover {
  background: #EAEAEA url('../img/split-vert.png') no-repeat 8px 8px;
  background-size: 20px 20px;
}

.view-switch-horiz .icon {
  float: right;
  cursor: pointer;
  background: #EAEAEA url('../img/split-horiz.png') no-repeat 8px 8px;
  background-size: 20px 20px;
  height: 31px;
  width: 32px;
  margin: -5px 0 -5px 10px;
  padding: 2px;
}

.view-vert .view-switch-horiz .icon {
  background: transparent url('../img/split-horiz.png') no-repeat 8px 8px;
  background-size: 20px 20px;
}

.view-vert .view-switch-horiz .icon:hover {
  background: #F7F7F7 url('../img/split-horiz.png') no-repeat 8px 8px;
  background-size: 20px 20px;
}

.view-switch-full-input .icon {
  float: right;
  cursor: pointer;
  background: #EAEAEA url('../img/full-input.png') no-repeat 8px 8px;
  background-size: 20px 20px;
  height: 31px;
  width: 32px;
  margin: -5px 0 -5px 0;
  padding: 2px;
}

:not(.view-full-input) .view-switch-full-input .icon {
  background: transparent url('../img/full-input.png') no-repeat 8px 8px;
  background-size: 20px 20px;
}

:not(.view-full-input) .view-switch-full-input .icon:hover {
  background: #F7F7F7 url('../img/full-input.png') no-repeat 8px 8px;
  background-size: 20px 20px;
}

.view-switch-full-output .icon {
  float: right;
  cursor: pointer;
  background: #EAEAEA url('../img/full-output.png') no-repeat 8px 8px;
  background-size: 20px 20px;
  height: 31px;
  width: 32px;
  margin: -5px 0 -5px 0;
  padding: 2px;
}

:not(.view-full-output) .view-switch-full-output .icon {
  background: transparent url('../img/full-output.png') no-repeat 8px 8px;
  background-size: 20px 20px;
}

:not(.view-full-output) .view-switch-full-output .icon:hover {
  background: #F7F7F7 url('../img/full-output.png') no-repeat 8px 8px;
  background-size: 20px 20px;
}

.file-save-as-pdf .icon {
  float: right;
  cursor: pointer;
  background: url('../img/save-as-pdf.png') no-repeat 8px 8px;
  background-size: 20px 20px;
  height: 31px;
  width: 32px;
  margin: -5px 10px;
  padding: 2px;
  margin-right: 40px;
}

.file-save-as-pdf .icon:hover {
  background: #F7F7F7 url('../img/save-as-pdf.png') no-repeat 8px 8px;
  background-size: 20px 20px;
}

.help-show-cheatsheet .icon {
  float: right;
  cursor: pointer;
  background: url('../img/show-cheatsheet.png') no-repeat 8px 8px;
  background-size: 20px 20px;
  height: 31px;
  width: 32px;
  margin: -5px 10px;
  padding: 2px;
}

.help-show-cheatsheet .icon:hover {
  background: #F7F7F7 url('../img/show-cheatsheet.png') no-repeat 8px 8px;
  background-size: 20px 20px;
}

#container {
  padding: 6px 0 0 0;
  margin: 0;
  width: 100%;
  position: fixed;
}

.view-vert #container {
  padding: 20px 0 0 0;
}

#col-left {
  background: #F5F5F5;
  color: #626262;
  font-family: SourceSansPro;
  font-size: 14px;
  margin: 0;
  padding: 0;
  overflow: auto;
  border-bottom: 1px solid #DDD;
}

.view-vert #col-left {
  float: left;
  width: 48%;
  border-right: 1px solid #DDD;
  border-bottom: none;
}

.view-full-input #col-left {
  float: none;
  width: 100%;
}

.view-full-output #col-left {
  display: none;
}

#col-right {
  margin: 0;
  overflow: auto;
  padding: 10px 0 0 10px;
}

.view-vert #col-right {
  float: right;
  width: 48%;
  padding: 10px 0 0 0;
}

.view-full-input #col-right {
  display: none;
}

.view-full-output #col-right {
  float: none;
  width: 100%;
}

#input {
  font-size: 12px;
  width: 100%;
  margin-top: 30px;
}

.view-vert #input {
  margin-top: 16px;
}

#input:focus {
  outline: none;
}

#error {
  background: #FFF;
  border-top: 1px solid #DDD;
  bottom: 0;
  color: #DA7070;
  display: none;
  font-family: SourceSansPro;
  font-size: 12px;
  height: 15px;
  left: 0;
  margin: 0;
  padding: 5px 10px;
  position: fixed;
  width: 100%;
  z-index: 333333;
}
