@font-face {
  font-family: SourceSansPro;
  src: url(../fonts/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: LobsterRegular;
  src: url(../fonts/Lobster-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
}

#logo {
  background: #FFF;
  border-bottom: 1px solid #CCC;
  color: #626262;
  font-family: LobsterRegular;
  font-size: 20px;
  height: 25px;
  left: 0;
  margin: 0;
  padding: 5px 10px;
  position: fixed;
  width: 100%;
}

#container {
  padding: 20px 0 0 0;
  margin: 0;
  width: 100%;
}

#col-left {
  background: #F5F5F5;
  border-right: 1px solid #DDD;
  color: #626262;
  float: left;
  font-family: SourceSansPro;
  font-size: 14px;
  margin: 0;
  overflow: auto;
  padding: 0 0 0 15px;
  width: 48%;
}

#col-right {
  float: right;
  margin: 0;
  overflow: auto;
  padding: 0;
  width: 48%;
}

#input {
  font-size: 14px;
  margin-top: 30px;
  width: 100%;
}

#input:focus {
  outline: none;
}

#error {
  background: #FFF;
  border-top: 1px solid #DDD;
  bottom: 0;
  color: #DA7070;
  display: none;
  font-family: SourceSansPro;
  font-size: 12px;
  height: 15px;
  left: 0;
  margin: 0;
  padding: 5px 10px;
  position: fixed;
  width: 100%;
}
